# roles/database/templates/server.cnf.j2
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mariadb/mariadb.log
pid-file=/run/mariadb/mariadb.pid

# Secure Configuration: Only listen on the internal AWS VPC network
bind-address = {{ ansible_default_ipv4.address }}
port = {{ db_port }}
