# ansible.cfg
[defaults]
inventory = production.aws_ec2.yml
host_key_checking = False
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root


# SSH Tunnel
[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ProxyCommand="ssh -W %h:%p -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null ec2-user@{{ hostvars['bastion_hosts'].ansible_host | default('CHANGE_TO_YOUR_LB_PUBLIC_IP_IF_TESTING_MANUALLY') }}"

[inventory]
enable_plugins = amazon.aws.aws_ec2, auto, host_list, yaml, ini
